html,
body {
    height: 100%;
}

body {
    font-family: "Roboto condensed", sans-serif;
}

.col-12 {
    color: #fff;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/laptop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.btn-general {
    border-color: #fff;
    border-width: 2px;
    border-radius: .3rem;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-general {
    border-color: #fff;
    border-width: 2px;
    border-radius: .3rem;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-blue {
    border-color: #c2b0af;
    color: #6a5650;
}

.btn-blue:hover,
btn-blue:focus {
    background-color: #6a5650;
    color: #fff;
}

#home-cover,
#home-heading,
#home-btn {
    animation-duration: .5s;
}

#home-cover {
    animation-delay: .1s;
    animation-duration: .5s;
}

#home-heading {
    animation-delay: .5s;
    animation-duration: .5s;
}

#home-btn {
    animation-delay: 1s;
    animation-duration: .5s;
}

.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #6a5650;
    margin: 0 auto 30px auto;
}

.service-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #6a5650;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i {
    color: #fff;
    background-color: #c2b0af;
    border-radius: .5rem;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
    margin: 0;
    padding-left: 85px;
}

#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/mouse.jpg);
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;
}

#about-content-box {
    float: left;
    height: 700px;
    width: 200px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-desc p {
    margin-bottom: 30px;
}

.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid img {
    width: 100%;
    height: 100%px;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform .4s ease;
}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}

.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}

.social-list {
    padding: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;
}

.icon-gray i {
    color: #64707b;
}

.social-icon i:hover {
    color: #34c6d3;

}

#myFooter {
    background-color: #2c1f1c;
    height: 100% auto;
    color: white;
    padding-top: 30px;
    margin: 0px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 15px;
}

.logo img {
    padding-right: 40px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #fff;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #6a5650;
    border-radius: 20px;
    border: none;
    width: 125px;
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}





